name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up JDK 25.0.1
      uses: actions/setup-java@v3
      with:
        java-version: '25.0.1'
        distribution: 'temurin'

    - name: Install Chrome
      uses: browser-actions/setup-chrome@v1

    - name: Install ChromeDriver
      uses: nanasess/setup-chromedriver@v2

    - name: Run CI/CD Pipeline
      run: mvn test
      env:
        DISPLAY: :99
